html,
body {
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-page);
    color: var(--color-text-page);
}

h1,
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-style: italic;
}

main {
    flex: 1;
}